certifi==2022.6.15
chardet==3.0.4
charset-normalizer==2.1.0
idna==2.8
numpy==1.23.1
pandas==1.4.3
pkg_resources==0.0.0
psycopg2-binary==2.9.3
pyaxis==0.3.4
pyjstat==2.3.0
python-dateutil==2.8.2
pytz==2022.1
requests==2.21.0
six==1.16.0
tc-etl-lib==0.2.0
urllib3==1.24.1
